.footer {
    padding: 10px 19px;
    background: #0067A3;
    display: flex;
    justify-content: space-between;
}

.footer__tusksInfo {
    display: flex;
    gap: 30px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}